language: python
dist: xenial
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
install:
  - "pip install --require-hashes -r requirements.txt"
  - "pip install -e .[test]"
script:
  - "python -m pytest --cov mercantile --cov-report term-missing"
  - "python -m pydocstyle mercantile tests"
after_success:
  - coveralls
deploy:
  on:
    repo: mapbox/mercantile
    python: 3.7
    tags: true
  provider: pypi
  distributions: "sdist bdist_wheel"
  user: __token__
